.header-container{
    display: flex;
    flex-direction: row;
}
.title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 1rem;
}
.vermont-icon{
    width: 5rem;
    height: 5rem;
    padding-left:1em;
}
.title{
    text-align: left;
    padding-left: .5rem;
    color: #333;
}

.sponsor-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0rem;
    margin: 0rem 0rem 0rem 0rem;
    padding: 2rem 2rem 2rem 0rem;

}

.uvm-logo{
    width: 5rem;
    height: 5rem;
    padding-right:1em;
    padding-top:2%;
}
.uvm-sponsors{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0rem;
}
.uvm-sponsors p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding:1% 0%;
}