.district {
  /*pointer-events: none; /* Disable pointer events */
}

.town {
  pointer-events: visiblePainted; /* Keep pointer events active only on town outlines */
}

svg {
  border: 1px solid #ccc;
}

h2 {
  margin-top: 20px;
}

.tooltip {
  font-size: 12px;
  font-family: Arial, sans-serif;
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
  z-index: 10; /* Make sure it's above the map */
}

